<% if result.present? %>
  <h2>Current Weather:</h2>
  <p>Temperature: <%= result[:data].main.temp_f %>째F</p>
  <p>High: <%= result[:data].main.temp_max_f %>째F</p>
  <p>Low: <%= result[:data].main.temp_min_f %>째F</p>

  <h2>Extended Forecast:</h2>
  <ul>
    <li>Date: <%= result[:data].dt %></li>
    <li>Feels like: <%= result[:data].main.feels_like_f %> 째F</li>
    <li>Pressure: <%= result[:data].main.pressure %></li>
    <li>Humidity: <%= result[:data].main.humidity %></li>
  </ul>

  <% if result[:cache] %>
    <p style="color: green;">(result from cache)</p>
  <% end %>
<% else %>
  <p>No weather data available.</p>
<% end %>
