<% if result.present? %>
  <h2>Current Weather:</h2>
  <p>Temperature: <%= result.main.temp_f %>째F</p>
  <p>High: <%= result.main.temp_max_f %>째F</p>
  <p>Low: <%= result.main.temp_min_f %>째F</p>

  <h2>Extended Forecast:</h2>
  <ul>
    <li>Date: <%= result.dt %></li>
    <li>Feels like: <%= result.main.feels_like_f %> 째F</li>
    <li>Pressure: <%= result.main.pressure %></li>
    <li>Humidity: <%= result.main.humidity %></li>
  </ul>
<% else %>
  <p>No weather data available.</p>
<% end %>
